<div class="jumbotron">
  <div class="container">
    <h1>Send a message!</h1>
    <p>This is a simple Twilio test app.</p>
    <p><a class="btn btn-danger btn-lg" ng-click="View1Ctrl.learnMore()" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- failure alert -->
  <div ng-if="View1Ctrl.alert" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" ng-click="View1Ctrl.alert = false;">&times;</span></button>
    <strong>Error!</strong> Your message was not sent.
  </div>

  <!-- success alert -->
  <div ng-if="View1Ctrl.success" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" ng-click="View1Ctrl.success = false;">&times;</span></button>
    <strong>Success!</strong> Your message was sent.
  </div>

  <form  class="form-group" ng-submit="View1Ctrl.sendMessage()">
    <div class="row">
      <div class="col-md-offset-1 col-md-4">
        <h2>Text Message</h2>
        <input type="text" class="form-control" placeholder="Enter a message" ng-model="View1Ctrl.message">
        <br>
        <p>Enter a text message that will be sent to the given phone number.</p>
      </div>
      <div class="col-md-4">
        <h2>Phone number</h2>
        <input type="text" class="form-control" placeholder="+18001115555" ng-model="View1Ctrl.sendToNumber">
        <br>
        <p>Use this format for phone numbers +18001115555. You may also use the format (800) 111-5555.</p>
     </div>
     <div class="col-md-2">
        <br><br><br>
        <button type="submit" class="btn btn-default">Send message</button>
      </div>
    </div>
  </form>

  <br><hr>

  <!-- failure alert -->
  <div ng-if="View1Ctrl.alert2" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" ng-click="View1Ctrl.alert2 = false;">&times;</span></button>
    <strong>Error!</strong> Your message was not sent.
  </div>

  <!-- success alert -->
  <div ng-if="View1Ctrl.success2" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" ng-click="View1Ctrl.success2 = false;">&times;</span></button>
    <strong>Success!</strong> Your phone message was sent.
  </div>

  <form class="form-group" ng-submit="View1Ctrl.sendPhoneMessage()">
    <div class="row">
      <div class="col-md-offset-1 col-md-4">
        <h2>Phone Message</h2>
        <input type="text" class="form-control" placeholder="Enter a message" ng-model="View1Ctrl.phoneMessage">
        <br>
        <p>Enter a message that will be converted to speech. It will then make a phone call to the number provided and play the transcribed voice message.</p>
      </div>
      <div class="col-md-4">
        <h2>Phone number</h2>
        <input type="text" class="form-control" placeholder="+18001115555" ng-model="View1Ctrl.sendToNumber2">
        <br>
        <p>Use this format for phone numbers +18001115555. You may also use the format (800) 111-5555.</p>
      </div>
      <div class="col-md-2">
        <br><br><br>
        <button type="submit" class="btn btn-default">Send message</button>
      </div>
    </div>
  </form>

  <hr>

  <footer>
    <p></p>
  </footer>

</div> <!-- /container -->